dj-database-url==0.4.1
Django==1.8.7
django-braces==1.8.1
django-ckeditor==5.0.3
django-crispy-forms==1.6.0
django-embed-video==1.0.0
django-markdown==0.8.4
django-rosetta==0.7.12
django-suit-ckeditor==0.0.2
django-wysiwyg==0.7.1
dotenv==0.0.5
gunicorn==19.6.0
Markdown==2.6.6
microsofttranslator==0.8
Pillow==3.3.0
polib==1.0.7
pytz==2016.4
requests==2.10.0
six==1.10.0
sorl-thumbnail==12.3
whitenoise==3.2
